<footer class="bg-light text-center d-flex">
    <h4><i class="fa fa-wechat m-3"> SocialChat</i></h4>
    <div class="container p-1 pb-0">
      <section class="mb-1">
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #3b5998;"
          href="https://www.facebook.com/facebook/"
          role="button"
          ><i class="fa fa-facebook-f"></i></i
        ></a>
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #55acee;"
          href="https://www.twitter.com/"
          role="button"
          ><i class="fa fa-twitter"></i
        ></a>
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #dd4b39;"
          href="https://www.google.com/"
          role="button"
          ><i class="fa fa-google"></i
        ></a>
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #ac2bac;"
          href="twitter"
          role="button"
          ><i class="fa fa-instagram"></i
        ></a>
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #333333;"
          href="https://github.com/NamanSnag/Project"
          role="button"
          ><i class="fa fa-github"></i
        ></a>
      </section>
    </div>
  
    <!-- Copyright -->
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright: Naman Nag
    </div>
    <!-- Copyright -->
  </footer>