<main class="home">
    <div class="background"></div>
    <div class="text">
        <p id="wel-head">Welcome To Social-Chat</p>
        <p>A place where your share your memories, Experiences and Chat with others</p>
    </div>
    <% if(locals.user){ %>
        <form action="/posts/create" id="post-form" method="post">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
                <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Post</button>
            </div>
        </form>
    <% } %>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-6 col-12 pb-4">
                    <h1>Posts</h1>
                    <ul id="post-list-container">
                        <% for(post of posts){ %>
                            <%- include('_post') %>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
<hr>
    <section id="user-friends">
        <h4>Friends</h4>
        <% for ( u of all_users ) { %>
            <p>
                <a href="/user/profile/<%= u.id %>"><%= u.name %></a>
            </p>
        <% } %>
    </section>

    <div style="min-height: 200px">

    </div>
</main>

<script src="/js/home_post.js"></script>
