<main class="home">
    <div class="background"></div>
    <div class="text">
        <p id="wel-head">Welcome To Social-Chat</p>
        <p>A place where your share your memories, Experiences and Chat with others</p>
    </div>
    <form action="/posts/create" method="post">
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
            <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Post</button>
        </div>
        <% if(locals.user){ %>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-6 col-12 pb-4">
                    <h1>Comments</h1>
                    <% for(post of posts){ %>
                        <div class="comment mt-4 text-justify float-left">
                            <li>
                                <span><%= post.user.name %></span>
                                <p><%= post.content %></p>
                            </li>
                        </div>
                    <% } %>
                </div>
            </div>
        <% } %>
    </form>
    <div style="min-height: 100px">

    </div>
</main>
