<h1>Sign-In</h1>
<form action="/user/profile" method="post">
    <input type="email" name="email" placeholder="Enter Your Email" required>
    <input type="password" name="passwords" placeholder="Enter Your password" required>
    <button>Sign-In</button>
</form>